/* colours */
:root{
  --utama: #1494C6;
  --nomerdua: #0D7FCC;
}

/* layout styles */
nav{
  background: var(--utama);
  border-bottom: 10px solid var(--nomerdua);
}

.App {
  text-align: center;
}

#imgLogo{
  margin-left: -80px;
  width: 40%;
}

.container.news{
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
}

.container.card-title-news{
  padding-top: 25px;
}
